apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  creationTimestamp: null
  labels:
    component: kube-apiserver
    tier: control-plane
  name: kube-apiserver
  namespace: kube-system
spec:
  containers:
  - command:
    - kube-apiserver
    - --admission-control=Initializers,NamespaceLifecycle,LimitRanger,ServiceAccount,PersistentVolumeLabel,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,ResourceQuota
    - --advertise-address={{ hostvars[inventory_hostname]['ansible_' + k8s_network_iface]['ipv4']['address'] }}
    - --allow-privileged=true
    - --apiserver-count=1
    - --authorization-mode=Node,RBAC
    - --client-ca-file=/etc/kubernetes/pki/ca.crt
    - --etcd-cafile=/etc/kubernetes/pki/ca.crt
    - --etcd-certfile=/etc/kubernetes/pki/client.crt
    - --etcd-keyfile=/etc/kubernetes/pki/client.key
    - --etcd-servers={{ k8s_etcd_servers }}
    - --experimental-bootstrap-token-auth=true
    - --insecure-port=8080
    - --kubelet-client-certificate=/etc/kubernetes/pki/client.crt
    - --kubelet-client-key=/etc/kubernetes/pki/client.key
    - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
    - --tls-ca-file=/etc/kubernetes/pki/ca.crt
    - --tls-cert-file=/etc/kubernetes/pki/apiserver.crt
    - --tls-private-key-file=/etc/kubernetes/pki/apiserver.key
    #- --proxy-client-cert-file=/etc/kubernetes/pki/client.crt
    #- --proxy-client-key-file=/etc/kubernetes/pki/client.key
    #- --requestheader-allowed-names=front-proxy-client
    #- --requestheader-client-ca-file=/etc/kubernetes/pki/ca.crt
    #- --requestheader-group-headers=X-Remote-Group
    #- --requestheader-username-headers=X-Remote-User
    #- --requestheader-extra-headers-prefix=X-Remote-Extra-
    - --service-account-key-file=/etc/kubernetes/pki/sa.key
    - --service-cluster-ip-range={{ k8s_service_subnet }}
    - --secure-port=6443
    image: gcr.io/google_containers/kube-apiserver-amd64:v{{ k8s_version }}
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 6443
        scheme: HTTPS
      initialDelaySeconds: 15
      timeoutSeconds: 15
    name: kube-apiserver
    resources:
      requests:
        cpu: 250m
    volumeMounts:
    - mountPath: /etc/kubernetes
      name: k8s
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: certs
    - mountPath: /etc/pki
      name: pki
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/kubernetes
    name: k8s
  - hostPath:
      path: /etc/ssl/certs
    name: certs
  - hostPath:
      path: /etc/pki
    name: pki
status: {}
