[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
    --leader-elect=true \
    --kubeconfig=/var/lib/kube-scheduler/kubeconfig
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
