[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/kubelet \
    --allow-privileged=true \
    --authorization-mode=Webhook \
    --bootstrap-kubeconfig=/var/lib/kubelet/bootstrap.kubeconfig \
    --client-ca-file={{ k8s_certs_dst }}/ca.crt \
    --cluster-dns={{ k8s_dns_ip }} \
    --cluster-domain=cluster.local \
    --hostname-override={{ inventory_hostname }} \
    --kubeconfig=/var/lib/kubelet/kubeconfig \
    --network-plugin=cni \
    --pod-cidr={{ k8s_pod_subnet }} \
    --rotate-certificates \
    --v=2
Restart=on-failure
StartLimitInterval=0
RestartSec=5

[Install]
WantedBy=multi-user.target
