apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', k8s_certs_src + "/ca.crt")|b64encode }}
    server: https://{{ k8s_advertise_ip }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: {{ user }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ user }}
  user:
    client-certificate-data: {{ lookup('file', k8s_certs_src + "/" + cert + ".crt")|b64encode }}
    client-key-data: {{ lookup('file', k8s_certs_src + "/" + cert + ".key")|b64encode }}
