[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.0 = kubernetes
DNS.1 = kubernetes.default
DNS.2 = kubernetes.default.svc
DNS.3 = kubernetes.default.svc.cluster.local
DNS.4 = {{ k8s_apiserver_public_dns }}
IP.0 = {{ k8s_apiserver_service_ip }}
IP.1 = {{ k8s_apiserver_public_ip }}
{% for host in groups[k8s_group_name] -%}
IP.{{ loop.index + 1 }} = {{ hostvars[host]['ansible_' + k8s_network_iface]['ipv4']['address'] }}
DNS.{{ loop.index + 4 }} = {{ inventory_hostname }}
{% endfor %}
